$color-bcg-site: #1E252B;
$color-title-text: rgba(255, 255, 255, 0.9);
$color-subtitle-link: rgba(255, 255, 255, 0.55);
$color-bcg-btn: #F15B42;
$color-input: #283036;
$text-shadow: 0px 0px 20px rgb(238, 157, 9), 0px 0px 43px rgb(243, 135, 7);