@import './nullstyle';
@import './variable';

body {
	width: 100%;
	min-height: 100%;
	font-family: "Poppins", "Montserrat", sans-serif;
	background: $color-bcg-site;
	color: #fff;
	font-weight: 500;
}

.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

.wrapper {
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	flex: 0 1 auto;
}

.header {
	padding-top: 26px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		align-items: center;
	}

	&__text {
		font-weight: 600;
		font-size: 22px;
		line-height: 33px;
		color: $color-title-text;
		padding-left: 12px;
	}
}

.logo {}

.menu {
	&__list {
		display: flex;
		position: relative;

		ul {
			position: absolute;
			left: 21.7%;
			top: 100%;
			display: none;
			padding: 0;
		}

		li:hover>ul {
			display: block;
		}

		ul ul {
			display: none;
			top: 0;
			left: 100%;
		}
	}

	&__item {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;

		&:nth-child(2):after {
			content: '';
			height: 6px;
			width: 6px;
			border-bottom: 1.5px solid $color-subtitle-link;
			border-left: 1.5px solid $color-subtitle-link;
			transform: rotate(-45deg);
			position: absolute;
			top: 8px;
			margin-left: 8px;
			transition: all 0.3s ease;
		}

		&+& {
			padding-left: 40px;
		}
	}

	&__link {
		color: $color-title-text;
	}

	&__list-sub {}

	&__item-sub {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		padding-top: 10px;

		&+& {
			padding-top: 10px;
		}
	}

	&__link-sub {
		color: $color-subtitle-link;
	}
}

.registration {
	display: flex;
	align-items: center;

	&__button-inline-link {
		margin-right: 41px;
		opacity: 0.78;
		color: $color-subtitle-link;
	}

	&__button-active-link {
		padding: 12px 28px;
		color: $color-title-text;
		background-color: $color-bcg-btn;
		border-radius: 8px;
	}

	&__button-active {
		&_link {}
	}

	&__button-signup {
		margin-right: 30px;
		padding: 12px 28px;
		color: $color-title-text;
		background-color: $color-bcg-btn;
		border-radius: 8px;
	}

	&__button-signin {
		padding: 12px 28px;
		color: rgba(0, 0, 0, 0.7);
		background-color: $color-title-text;
		border-radius: 8px;
	}
}

.main {
	padding-top: 58px;

	&__inner {
		display: flex;
	}

	&__content {
		padding-top: 46px;
		width: 600px;
		padding-right: 10px;
	}

	&__image {
		transform: translate(135px, 0px);
	}
}

.content {
	&__title {
		font-weight: 500;
		font-size: 50px;
		line-height: 140%;
		color: $color-title-text;
		text-shadow: $text-shadow;

		&:after {
			content: '.';
			color: $color-bcg-btn;
			margin-left: -13px;
		}
	}

	&__text {
		margin-top: 30px;
		margin-bottom: 60px;
		width: 487px;
		padding-right: 10px;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		color: $color-subtitle-link;
	}

	&__social {
		margin-top: 110px;
		padding-left: 11px;
	}
}

form {
	position: relative;
	width: 497px;
}

input,
.btn {
	border: none;
	outline: none;
	border-radius: 15px;
}

input {
	width: 100%;
	height: 64px;
	background: $color-input;
	padding-left: 55px;
	color: $color-title-text;
	font-family: inherit;
	font-size: inherit;
}

.search-form {
	position: absolute;
	top: 20px;
	left: 15px;
}

.btn {
	position: absolute;
	padding: 12px 28px;
	color: $color-title-text;
	top: 10px;
	right: 11px;
	background: $color-bcg-btn;
	cursor: pointer;
}

.social-link+.social-link {
	padding-left: 30px;
}


//Модальное окно
//Стили модального окна

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.4s ease-out;

	&:target {
		opacity: 1;
		visibility: visible;
		transition: all 0.6s ease 0s;

		.popup__content {
			transform: translate(0px, 0px);
			opacity: 1;
			transition: all 0.6s ease 0s;
		}
	}

	&__area {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;
		transition: all 0.6s ease 0s;

	}

	&__content {
		background-color: $color-subtitle-link;
		padding: 30px;
		position: relative;
		transition: all 0.6s ease 0s;
		opacity: 0;
		transform: translate(0px, 100%);
		border-radius: 8px;

	}

	&__close {
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 20px;
		color: $color-bcg-btn;
		text-decoration: none;
	}
}

.form-container {
	height: 100%;
	background-color: $color-input;
	font-family: inherit;
	font-size: inherit;
	text-align: center;
	padding: 30px 25px;
	box-shadow: 0 0 15px #000;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	margin-top: 100px;

	.title {
		color: $color-bcg-btn;
		font-size: 25px;
		font-weight: 700;
		text-transform: capitalize;
		margin: 0 0 15px;
	}

	.description {
		color: $color-subtitle-link;
		font-size: 16px;
		margin: 0 0 15px;
		display: block;
	}
}



.social-links {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}



.form-horizontal {
	.form-group {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 0 30px;

		&:last-of-type {
			text-align: left;
			margin-bottom: 35px;
			margin-top: 20px;
		}

		.check-label {
			color: $color-subtitle-link;
			font-size: 16px;
			font-weight: 400;
			text-transform: none;
			/* margin: -2.5px 0 0; */
			/* vertical-align: text-top; */
			display: inline-block;
			padding-left: 5px;

			a {
				color: $color-bcg-btn;
				transition: all 0.3s ease;

				&:hover {
					text-decoration: underline;
					transition: all 0.3s ease;
				}
			}
		}
	}

	.form-control {
		font-family: 'Poppins', serif;
		color: $color-input;
		background: $color-title-text;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 1px;
		height: 40px;
		padding: 6px 12px;
		border-radius: 5px;
		border: 2px solid $color-title-text;
		box-shadow: none;
		transition: all 0.3s ease 0s;

		&:hover {
			transition: all 0.3s ease 0s;
		}

		&:focus {
			background-color: $color-title-text;
			transition: all 0.3s ease 0s;
			border-color: v$color-bcg-btn;
			box-shadow: none;
		}

		&::-webkit-input-placeholder {
			color: $color-input;
			font-size: 16px;
			font-weight: 300;
		}

		&:-ms-input-placeholder {
			color: $color-input;
			font-size: 16px;
			font-weight: 300;
		}

		&::placeholder {
			color: rgba(85, 85, 85, 0.593);
			font-size: 12px;
		}
	}
}

.checkbox {
	position: relative;
	padding-left: 25px;

	input[type=checkbox] {
		display: none;

		&:checked+label:after {
			content: '\2713';
			font-size: 15px;
			background-color: $color-bcg-btn;
			transition: all 0.3s ease;
			border: none;
		}
	}

	label:after {
		content: '';
		display: block;
		height: 14px;
		width: 14px;
		outline: 1px solid $color-bcg-btn;
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.3s ease;
	}
}

.check-label {}

.form-btn {
	font-family: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.5px;
	font-size: inherit;
	margin-top: 30px;
}

//Tools
.tools {
	margin-top: 200px;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		font-size: 48px;
		line-height: 62px;
		color: $color-title-text;
		padding-bottom: 25px;
		text-shadow: $text-shadow;
	}

	&__subtitle {
		width: 427px;
		min-height: 60px;
		text-align: center;
		font-size: 18px;
		line-height: 30px;
		color: $color-subtitle-link;
	}

	&__column {
		margin-top: 92px;
	}

	&__button {
		display: flex;
		justify-content: center;
		padding-top: 100px;
	}

	&__button-link {
		padding: 17px 38px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 8px;
		color: #FF6E30;
		font-size: 20px;
		line-height: 30px;
	}
}



.columns {
	&__box {}

	&__box-item {
		display: flex;
	}
}

.row1 {
	margin-bottom: 100px;
}

.box-item {
	display: flex;
	align-items: center;

	&_column {
		display: flex;
		flex-direction: column;
		padding: 33px;
		margin-right: 25px;
		border-radius: 15px;
		transition: all 0.6s ease 0s;
		cursor: default;
		border: 1px solid transparent;
		border-radius: 15px 20px 15px 20px/20px 15px 20px 15px;

		&:hover {
			background: rgba(40, 48, 54, 0.6);
			color: $color-bcg-btn;
			border: 1px solid $color-bcg-btn;
			transition: all 0.6s ease 0s;
			transform: scale3d(1.2, 1.2, 1.2);
			border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

			.box-item_title {
				color: rgba(255, 255, 255, 0.92);
				transition: all 0.6s ease 0s;
			}

			.box-item_subtile {
				color: #FFA537;
				transition: all 0.6s ease 0s;
			}

			.box-item-button {
				padding: 12px 28px;
				color: #fff;
				background-color: #FF6E30;
				border-radius: 8px;
				transition: all 0.6s ease 0s;
				cursor: pointer;
			}
		}
	}

	&_figma-icon {}

	&_title {
		font-size: 24px;
		line-height: 36px;
		color: rgba(255, 255, 255, 0.78);
		padding-left: 30px;

	}

	&_subtile {}

	&_text {
		width: 326px;
		padding: 30px 0px;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		color: rgba(255, 255, 255, 0.55);
		flex: 1 1 auto;
	}

	&_iconItems {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&_icon {
		display: flex;
		position: relative;
	}

	&_icon_like {
		padding-right: 19px;
	}

	&_icon {}

	&_sketch-icon {}

	&_vsCode-icon {}

	&_notion-icon {}

	&_slack-icon {}

	&_invision-icon {}
}

.figma-icon-title {}

.like-active {
	position: absolute;
	top: -8px;
	left: -14px;
	display: none;
	transition: all 0.6s ease 0s;
}

.figma-button {
	&_link {}
}

.box-item-button {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	border-radius: 8px;
	color: rgba(255, 255, 255, 0.55);
	transition: all 0.6s ease 0s;
}

.sketch-icon {}

.sketch-button {
	&_link {}
}

.vsCode-icon {}

.vsCode-button {
	&_link {}
}

.row2 {
	margin-bottom: 50px;
}

.notion-icon {}

.notion-button {
	&_link {}
}

.slack-icon {}

.slack-button {
	&_link {}
}

.invision-icon {}

.invision-button {
	&_link {}
}

//Brand

.brand {
	margin-top: 100px;

	&__inner {
		display: flex;
		flex-direction: column;
		background-color: rgba(44, 53, 61, 0.2);
		backdrop-filter: blur(50px);
		border-radius: 25px;
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 83px;
		padding-right: 83px;
	}

	&__title {
		padding-top: 55px;
		color: $color-title-text;
		font-size: 24px;
		line-height: 36px;
		text-shadow: $text-shadow;
	}

	&__box-column {
		display: flex;
		justify-content: space-between;
		margin: 55px 82px;
	}

	&__box-item {
		&+& {
			margin-left: 107px;
		}
	}

	&__link {}

	&__icon {}
}

//Newcomer tools

.newcomer-tools {
	margin-top: 220px;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 427px;
	}

	&__titile {
		font-size: 48px;
		line-height: 130%;
		color: $color-title-text;
	}

	&__text {
		font-size: 18px;
		line-height: 30px;
		color: var(--color-subtitle-link);
		padding-top: 30px;
		padding-bottom: 60px;
	}

	&__btn {}

	&__link {
		padding: 12px 28px;
		color: $color-title-text;
		background-color: $color-bcg-btn;
		border-radius: 8px;
	}

	&__columns {}

	&__columns-box {
		display: flex;
	}

	&__box-item {
		width: 320px;
		border: 1px solid transparent;
		border-radius: 15px 20px 15px 20px/20px 15px 20px 15px;

		.box-item_text {
			width: 100%;
		}
	}
}

//Slider

.slider-box {
	img {
		width: 400px;
	}
}

.slider {
	position: relative;
	width: 100%;
	margin-top: 200px;
	padding: 0 150px;

	&__item {
		display: flex;
		align-items: center;
		position: relative;
	}

	&__item-img {}

	&__item-text {
		padding-top: 80px;
		padding-left: 50px;
		margin-left: 15px;
		background-image: url('../img/“.png');
		background-repeat: no-repeat;
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 0.015em;
		color: rgba(255, 255, 255, 0.78);
	}
}

//slider style

.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	width: 33px;
	height: 60px;
	font-size: 0;
	background-color: transparent;
}

.slick-arrow {
	&.slick-prev {
		left: 0;
		background-image: url('../img/prev.svg');
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.slider {
	& .slick-arrow {
		&.slick-next {
			right: 0;
			background-image: url('../img/next.svg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

.slick-next {
	&.slick-arrow {
		&.slick-disabled {
			background-image: url('../img/next-disabled.svg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

.slick-prev {
	&.slick-arrow {
		&.slick-disabled {
			background-image: url('../img/prev-disabled.svg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

.slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 100px;
}

.slick-dots {
	li {
		margin-right: 15px;
	}
}

.slick-dots {
	li {
		.slick-active {
			button {
				background-color: $color-bcg-btn;
				border: none;
			}
		}
	}
}

.slick-dots {
	li {
		button {
			font-size: 0;
			background-color: #283036;
			width: 44px;
			height: 6px;
			border-radius: 4px;
			transition: all 0.6s ease;
		}
	}
}

//Mail-box

.mail-box {
	margin-top: 200px;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		font-size: 48px;
		line-height: 130%;
		color: $color-title-text;
		text-align: center;
		padding-bottom: 25px;
	}

	&__subtitle {
		max-width: 426px;
		padding: 0 5px;
		font-size: 18px;
		line-height: 30px;
		color: $color-subtitle-link;
		padding-bottom: 100px;
		text-align: center;
	}

	input {
		padding-left: 25px;
	}
}

//Footer

.footer {
	margin-top: 240px;
	border: 0.5px solid rgba(255, 255, 255, 0.15);

	&__inner {
		color: $color-title-text;
		padding: 70px 0;
		display: flex;
		justify-content: space-around;

	}

	&__item {
		display: flex;
		flex-direction: column;
		max-width: 260px;
		flex: 0 1 auto;
	}

	&__logo-title {
		display: flex;
		align-items: center;
		padding-bottom: 25px;
		font-weight: 400;
		font-size: 22px;
		line-height: 33px;
		color: $color-title-text;
	}

	&__text {
		padding-left: 12px;
	}

	&__copyrigth {
		font-size: 16px;
		line-height: 24px;
		color: $color-title-text;
		padding-bottom: 20px;
	}

	&__subtitle {
		font-size: 14px;
		line-height: 25px;
		color: $color-subtitle-link;
	}

	&__title {
		font-size: 20px;
		line-height: 30px;
	}

	&__subtitle-item {
		font-size: 16px;
		line-height: 24px;

		&+& {
			padding-top: 10px;
		}
	}
}